.passwordWrapper {
	position: relative;
	width: 100%;
}

.passwordWrapper input {
	width: 100%;
	padding-right: 70px;
	/* space for button */
	box-sizing: border-box;
	margin-top: 5px;
}

.eyeBtn {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	width: 34px;
	height: 34px;

	background: transparent;
	border: none;
	cursor: pointer;

	color: #94A3B8;
	font-size: 12px;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 6px;
}
